copyright
compiler.xml
/.idea/igv.js-jupyter.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/.idea
*.js-jupyter.iml
/build/
/igv.egg-info/
/MANIFEST
/dist
/node_modules/
